.cardFront {
  /* Front card is hidden by default, 
  only for in memory game type
  TODO: move this to the component */
  transform: rotateY(180deg);
}

.cardFront img{
  border-radius: 10px;
}

.cardFront, .cardBack {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  background-color: sienna;
  border-radius: 10px;
  cursor: pointer; 

  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flipCard {
  background-color: none;
  width: 220px;
  height: 218px;
  perspective: 1000px;
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flipCardInnerFlipped {
  transform: rotateY(180deg);
}